.btn{
    width: 120%;
    padding: 8px 10px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: #811d95;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.2s ease;
    align-self: center;
  }
  .btn:hover{
    transform: scale(1.05,1.05);
    border:rgba(0, 0, 0, 0.5);
  }

  .btn2{
    border-radius: 15px;
    overflow: hidden;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.2s ease;
  }
  .btn2:hover{
    transform: scale(1.05,1.05);
    border:rgba(0, 0, 0, 0.5);
  }

  .btn2.active{
    color: blue;
    border-radius: 15px;
    border: 15px solid #000000;
    transform: scale(.2,.2);
  }

  .ranger{
    border: 1px solid #232020;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }

  .btn3{
    width: 120%;
    padding: 8px 10px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: #898989d5;
    color: #ffffff;
    
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.2s ease;
    align-self: center;
  }
  .btn3:hover{
    transform: scale(1.05,1.05);
  }

  .radio {
    text-align: middle;
    vertical-align: middle;
  }
  .input{
    
    width: 25;
    height: 25;
    margin: 20;
  }
  
  .input:focus {
    border-color: #007bff;
  }
  
  .input::placeholder {
    color: #999;
  }
  .loginwrapper{
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    /* will-change: transform; */
    transition: all 1s ease-in-out;
  
  }
  .logincontainer{
    height: 100vh;
    width: 600px;
    background-color: white;
    float: right;
    padding: 40px 10px;
    position: relative;
    
  }
  .emptylogin{
    margin:40px;
    text-align:center;
  }
  .buttonsignuppage{
    color: hotpink;
  }
  
  .scrollcontainer {
    height: 200px;
    overflow: auto;
  }
  