.contentFixed {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.buildTitle {
    text-align: center;
    padding-bottom: 2%;
}

.chooseProductContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.chooseProduct {
    position: fixed;
    
    bottom: 0%;
    left: 0%;
    height: 65vh;
    width: 100%;
    background-color: white;
    border: 1rem solid black;
}

.chooseProductHeader {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.chooseProductHeader button {
    /* float: right; */
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    height: 100%;
    aspect-ratio: 1/1;
    transition: transform .4s ease;
}

.chooseProductHeader button:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.computerParts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buildinfo {
    border-left: 0.6rem solid black;
}

.buildinfo ul {
    list-style-type: none;
}

.buildinfo li {
    padding: 5% 4% 5% 4%;
}

.computerParts button {
    width: 40%;
    height: 50%;
}

.singleItem {
    display: grid;
    grid-template-rows: 6fr 2fr 1fr;
    margin-bottom: 20%;
}

.singleItem * {
    margin: auto;
    text-align: center;
}

.editComponent {
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: transform .4s ease;
}

.editComponent:hover {
    background-color: red;
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

.selectableProduct {
    max-width: 15%;
    display: inline-block;
    margin: 0 5% 0 2%;
    vertical-align: top;
}

.selectableProduct p {
    display: block;
}

.selectableProduct button {
    width: 100%;
}

.selectableProduct * {
    display: block;
    margin: auto;
    text-align: center;
}

.functionalityButtons {
    display: flex;
}

.functionalityButtons * {
    padding: 0.7% 0;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    width: 15%;
    height: 100%;
    border-radius: 7px;
    transition: transform .4s ease;
    margin: 1% 2% 0 0;
}

.functionalityButtons *:hover {
    background-color: red;
    transform: scale(1.02, 1.02);
    cursor: pointer;
}
