.btn{
    width: 50%;
    max-width: 350px;
    padding: 8px 10px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: #811d95;
    color: #fff;
    cursor: pointer;
      transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  .btn:hover{
    transform: scale(1.1,1.1);
  }

  .btnGoogle{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
  }
  .btnGoogle:hover{
    transform: scale(1.1,1.1);
  }
  
  .input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .input:focus {
    border-color: #007bff;
  }
  
  .input::placeholder {
    color: #999;
  }
  .loginwrapper{
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    transition: all 1s ease-in-out;
  
  }
  .logincontainer{
    height: 100vh;
    width: 600px;
    background-color: white;
    float: right;
    padding: 40px 10px;
    position: relative;
    
  }
  .emptylogin{
    margin:40px;
    margin-top: 0px;
    text-align:center;
  }
  .buttonsignuppage{
    color: hotpink;
  }
  
  .scrollcontainer {
    height: 200px;
    overflow: auto;
  }
  .textArea {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: left;
    border-radius: 8px;
    padding: 8px; /* Smaller padding */
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Calibri", sans-serif;
  }
  
  .textArea p {
    margin-bottom: 8px;
  }
  
  .textArea .info {
    font-weight: normal;
    text-transform: none;
  }
  
  .textArea .info:first-letter {
    font-size: 100%;
  }
  
  .textArea .info:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .textArea .info span {
    color: #00ffd8;
  }
  

  .info {
    /* Other existing styles */
    border-radius: 50%;
    width: 100px; /* Adjust the width as per your requirements */
    height: 100px; /* Adjust the height as per your requirements */
    object-fit: cover; /* Ensure the image fills the container */
  }

  .roundImage {
    border-radius: 50%;
    width: 100px; /* Adjust the width as per your requirements */
    height: 100px; /* Adjust the height as per your requirements */
    object-fit: cover; /* Ensure the image fills the container */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
  }


  .container h1 {
    margin-top: 70px;
    margin-bottom: 10px;
  }
  
  .container img {
    margin-top: 20px;
    margin-bottom: 10px;
  }  
  
  .container label {
    margin-top: 10px;
    margin-bottom: 10px; /* Add margin bottom to create spacing */
  }
  
  .container input[type="file"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .container button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px; /* Add margin bottom to create spacing */
  }

  .container button:hover {
    background-color: darkpurple;
  }

  .image {
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image button:focus {
    outline: none;
  }
  

  
  
  
  
  
  
  