.navbarWrapper {
    background-color: #ffffff;
    height: 100px;
}

.navbar {
    display: flex;
    background-color: #c6edff;
    border-radius: 10px;
    margin-bottom: 0.8%;
    min-height: 60px;
    min-width: 98.4%;
    position: fixed;
    z-index: 99;
}

.pages {
    padding-left: 1%;
    display: flex;
    text-align: center;
    align-items: center;
}

.pages div {
    height: 100%;
    display: inline;
    align-items: center;
    margin: 0% 5%;
    font-size: small;
    font-weight: bold;
    transition: all .2s ease;
    white-space: nowrap;
}

.pages div:hover {
    color: rgb(194, 26, 166);
}

.pages a {
    align-items: center;
    display: flex;
    height: 100%;
}

.functionality {
    display: inline;
    margin-left: auto;
    padding: 0% 1%;
    text-align: center;
}

.accountButton {
    font-size: 25px;
    color: gray;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}

.accountButton:hover {
    transform: scale(1.1, 1.1);

}
