.navbar {
    display: grid;
    margin: 0% 1% 2% 0%;
    padding: 0.6% 2%;
    background-color: #c6edff;
    border-radius: 10px;
    grid-template-columns: repeat(7, 5fr) 10fr repeat(2, 0.5fr);
}

.navbar span:hover {
    color: rgb(194, 26, 166);
}

.navbar a {
    display: inline-block;
    top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.pages {
    background-color: #bbacff;
    border-radius: 10px;    
    font-weight: bold;
    transition: all .2s ease;
}

.accountButton {
    font-size: 25px;
    color: gray;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}

.accountButton:hover {
    transform: scale(1.1, 1.1);
}
