.searchButton {
    font-size: 25px;
    color: gray;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}

.searchButton:hover {
    transform: scale(1.1,1.1);
}

.searchBoxHolder {
    display: flex;
    height: 100%;
    align-items: center;
}

.searchBox {
    background-color: inherit;
    border: none;
}

.searchBox:focus {
    outline: none;
}

.searchBar {
    background-color: #b0e6ff;
    border-radius: 10px;
    width: 100%;
    padding: 0.5% 3% 0.5% 10%;
    margin: 0% 0% 0.5% 0%;
    display: grid;
    grid-template-columns: 12fr 1fr;
}
