.container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
  }
  
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  s
  
  .p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  
  .label {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    align-items: flex-start;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
  }
  
  .smallBtn {
    padding: 5px 10px;
    width: 120px;
    background-color: black;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 3px;
    color: #fff;
  }
  .smallBtn:hover{
    transform: scale(1.1,1.1);
  }
  
  
  .btn{
    width: 30%;
    max-width: 350px;
    padding: 8px 10px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: #811d95;
    color: #fff;
    cursor: pointer;
      transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  .btn:hover{
    transform: scale(1.1,1.1);
  }
  